
<%= form_for @url, html: {class: 'form'} do |f| %>
<img class="mb-4" src="/images/tiny_url.png" alt="">
<div class="form-group ">
    <%= f.label :long_url, 'URL', class: "col-md-4"  %>
    <%= f.text_field (:long_url), required: true, autofocus: true %>
    <% if @url.errors.messages[:long_url] %>
    <% @url.errors.messages[:long_url].each do |value| %>
    <div class="form-text error-alert "><%= value %> </div>
    <% end %>
    <% end %>
</div>
<div class="form-group ">
    <%= f.label :suffix, class: "col-md-4"%>
    <%= f.text_field (:suffix) %>
</div>
<button class="btn btn-lg btn-primary " type="submit">Submit</button>

<% end %>